In [2]:
import pandas as pd
x=pd.read_csv('data.csv')
x

,Unnamed: 0,id,label,tweet,Cleaned_Tweets,Clean_Tweets
0,0,1,0.0,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...,when father dysfunct selfish drag kid into dys...
1,1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit cause they offer wheelchai...,thank #lyft credit caus they offer wheelchair ...
2,2,3,0.0,bihday your majesty,bihday your majesty,bihday your majesti
3,3,4,0.0,#model i love u take with u all the time in ...,#model love take with time,#model love take with time
4,4,5,0.0,factsguide: society now #motivation,factsguide society #motivation,factsguid societi #motiv
...,...,...,...,...,...,...
49154,49154,49155,NaN,thought factory: left-right polarisation! #tru...,thought factory left right polarisation #trump...,thought factori left right polaris #trump #use...
49155,49155,49156,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like mermaid #hairflip #neverready #fo...,feel like mermaid #hairflip #neverreadi #forma...
49156,49156,49157,NaN,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today #ohio used words li...,#hillari #campaign today #ohio use word like a...
49157,49157,49158,NaN,"happy, at work conference: right mindset leads...",happy work conference right mindset leads cult...,happi work confer right mindset lead cultur de...
49158,49158,49159,NaN,"my song ""so glad"" free download! #shoegaze ...",song glad free download #shoegaze #newmusic #n...,song glad free download #shoegaz #newmus #newsong

In [8]:
type(x)

pandas.core.frame.DataFrame

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_df=0.90,min_df=2,max_features=1000,stop_words='english')

tfidf_matrix = tfidf.fit_transform(x['Cleaned_Tweets'].values.astype('U'))

tfidf_df = pd.DataFrame(tfidf_matrix.todense())
tfidf_df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
combined_data = pd.read_csv('data.csv')
text="Hate"
tfidf = TfidfVectorizer(max_df=0.90,min_df=2,max_features=1000,stop_words='english')
tfidf_matrix = tfidf.fit_transform(combined_data['Cleaned_Tweets'].values.astype('U'))
tfidf_df = pd.DataFrame(tfidf_matrix.todense()) 
test = tfidf.transform([text])
test.shape

(1, 1000)